<main role="main">
    <div class="container">
        <div class="p-5 text-center">
          <h2>About the bootcamp</h2>
          <p class="">
            In this Angular Bootcamp January 2021, we are going to
            learn how to make professional web application
            development. We will start from the beginning level, but
            we will take our level at any enterprise level software
            development knowledge.</p>
        </div>
        <div class="row">
            <div class="p-5">
                <p class="">We are here to learn Angular. We hope to be master in angular in near
                    future. But to do this We must need to do all assignment in time. We are
                    here to learn Angular. We hope to be master in angular in near future.
                    But to do this We must need to do all assignment in time. We are here
                    to learn Angular. We hope to be master in angular in near future. But to
                    do this We must need to do all assignment in time. We are here to learn
                    Angular. We hope to be master in angular in near future. But to do this
                    We must need to do all assignment in time.</p>
              </div> 
        </div>
    </div>
</main>